<!-- <div class="forecast">
    <div class="cell">
        <div class="forecast-head">
            <div class="day">
                <div>Tuesday</div>
            </div>
            
        </div>

        <div class="forecast-head">
            <div class="day">
                <div>Wednesday</div>
            </div>
            
        </div>

    </div>
</div> -->

<div class="table1">
    <table class="table table-striped">
        <thead class="forecast-head">
            <tr class="forecast-row">
                <th class="forecast-head" scope ="col">Tuesday</th>
                <th class="forecast-head" scope ="col">Wednesday</th>
                <th class="forecast-head" scope ="col">Thursday</th>
                <th class="forecast-head" scope ="col">Friday</th>
                <th class="forecast-head" scope ="col">Saturday</th>
                <th class="forecast-head" scope ="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faCloud"></fa-icon>
                    </div> 
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small>
                </td>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faCloudSunRain"></fa-icon>
                    </div> 
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small>
                </td>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faCloudRain"></fa-icon>
                    </div>
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small> 
                </td>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faShowerHeavy"></fa-icon>
                    </div> 
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small>
                </td>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faCloudSun"></fa-icon>
                    </div>
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small> 
                </td>
                <td class="forecast-content">
                    <div class="icons">
                        <fa-icon [icon]="faShowerHeavy"></fa-icon>
                    </div> 
                    <div class="num">
                        23
                        <sup>o</sup>C
                    </div>
                    <small>
                        18<sup>o</sup>
                    </small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
